{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<div class="card my-4">
    <h5 class="card-header">Users</h5>
    <div class="card-body">
        <table class="table table-sm">
           <tr>
             <th>Username</th>
             <th>Email</th>
           </tr>
           {% for user in users %} 
             <tr>
               <td><a href="{% url 'post-filter' user.id%}">{{user.username}}</a></td>
               <td>{{user.email}}</td>
             </tr>
           {% endfor %}
           <tr>
             <td><a href="{% url 'post-list' %}">all</a></td>
             <td> 
           </tr>
         </table>
    </div>
</div>
</div>

{% endblock sidebar %}
